<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Name">
        <label id="Name" for="Name">Name: {{ session["Name"] }}</label>
        
      </div>
      <div>
        <label for="Location">Dojo:{{session["Location"]}}</label>
        
        
      </div>
      <div>
        <label for="Language">Favorite Language:{{session["Language"]}}</label>
        
      </div>
      <div>
        <label for="Comment"> Comment: {{session["Comment"]}}</label>
        
    
</body>
</html>